// set up a simple neutral simulation
initialize() {
	// Define constants 
	defineConstant('endsfile','ends_chr12.csv');
	defineConstant('ratesfile','rates_chr12.csv');
	//defineConstant('N',1000);
	defineConstant('mu',1e-7);
	defineConstant('runtime',asInteger(10/mu));
	//defineConstant('OUT','SLiM/tsfile.trees');
	// init ts
	initializeTreeSeq(simplificationInterval=50, timeUnit="generations");
	// Init simulation 
	initializeMutationRate(mu);
	
	// m1 mutation type: deleterious 
	initializeMutationType("m1", 0.1, "g", -0.013,0.186); // Kim et al., 2017. https://doi.org/10.1534/genetics.116.197145


	// g1 genomic element type: uses m1 for all mutations
	initializeGenomicElementType("g1", m1, 1.0);
	initializeGenomicElement(g1, 0, 133275309);
	
	// load recombination map
	rates_map = readCSV(ratesfile, "rates", sep=",");
	rates = rates_map.getValue("rates");
	ends_map = readCSV(endsfile, "ends", sep=",");
	ends = ends_map.getValue("ends");
	ends = c(ends[2:(size(ends)-1)] - 2, 133275309);
	initializeRecombinationRate(rates, ends);
}

// create a population
1 early() {
	sim.addSubpop("p1", N);
	print(runtime);
	print("System time: " + time());
}


late() {
    if (community.tick % 100 == 0) {
        // Print the generation/tick number
        print("Generation: " + community.tick);
        
        // Print the current system time (wall clock time)
        print("System time: " + time());
 
        print("---");  // separator for readability
    }
}

20000 late() {sim.treeSeqOutput(OUT_MID);}

runtime late() {sim.treeSeqOutput(OUT);}
